
<div class="certificate_agreement">

<div class="certificate_agreement_content">

<h1 align=center style='margin-top:0in;text-align:center;page-break-after:auto'><b><span

style='font-size:10.0pt;font-family:"Cambria","serif"'>IGTF CERTIFICATE

SUBSCRIBER AGREEMENT</span></b></h1>



<p class=MsoPlainText style='margin-bottom:12.0pt'><span style='font-family:

"Cambria","serif"'>PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING.  BY

CHECKING "I AGREE" BELOW, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT,

THAT YOU UNDERSTAND IT, AND THAT YOU AGREE TO IT.  THE PURPOSE OF A DIGITAL CERTIFICATE

IS TO BIND AN IDENTITY (TYPICALLY YOURS) TO A PUBLIC-PRIVATE KEY PAIR. BY

OBTAINING OR USING A CERTIFICATE ISSUED BY DIGICERT, YOU AGREE TO THE TERMS

HEREIN.  IF YOU DO NOT ACCEPT THIS AGREEMENT, DO NOT CHECK ACCEPT OR SUBMIT

YOUR CERTIFICATE ORDER.  </span><span style='font-family:"Cambria","serif";

color:black'>IF YOU HAVE ANY QUESTIONS REGARDING THIS AGREEMENT, PLEASE E-MAIL

DIGICERT AT <a href="mailto:LEGAL@DIGICERT.COM">LEGAL@DIGICERT.COM</a> OR CALL

1-800-896-7973.</span></p>



<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:10.0pt'>This

IGTF certificate subscriber agreement (<b>"Agreement"</b>) is between DigiCert,

Inc., a Utah corporation (<b>"DigiCert"</b>) and you, the individual applying

for a Certificate ("<b>You"</b>).  DigiCert and OSG previously entered into an

agreement ("<b>OSG Agreement</b>") that allows You to order and use an IGTF certificate. 

This Agreement contains the terms and conditions applicable to the issuance and

your use of the IGTF certificate. You and DigiCert agree as follows:</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in'><strong><span style='font-size:10.0pt;

font-family:"Cambria","serif"'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></strong><strong><span style='font-size:10.0pt;font-family:"Cambria","serif"'>YOUR

OBLIGATIONS</span></strong></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>1.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt;color:black'>Key Pairs</span></u><span

style='font-size:10.0pt;color:black'>. You shall securely generate and protect your

Private Key in accordance with Schedule 1 and the applicable Guidelines on

Private Key Protection.  You shall keep all Private Keys confidential and use

reasonable measures to protect the Private Key from disclosure.  If You suspect

misuse or Compromise of a Private Key, You shall promptly (within one working

day) notify DigiCert, cease using the Certificate, and request Certificate

revocation.  You are solely responsible for any failure to protect your Private

Keys.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in;text-autospace:none'><span

style='font-size:10.0pt;color:black'>1.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Information</span></u><span

style='font-size:10.0pt'>. You shall, at all times, provide accurate, complete,

and true information to DigiCert.  If any information provided to DigiCert

changes or becomes misleading or inaccurate, then You shall (i) promptly update

the information and (ii) within one working day after the information changes, cease

using and request the revocation of any Certificate including such information. 

You </span><span style='font-size:10.0pt;color:black'>shall not install or use

a Certificate until after You have reviewed and verified the accuracy of the Certificate

data.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in;text-autospace:none'><span

style='font-size:10.0pt;color:black'>1.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Use</span></u><span

style='font-size:10.0pt'>.</span><span style='font-size:10.0pt;color:black'> You

may not share your Certificate or Private Key with another user, including

co-workers.  You are </span><span style='font-size:10.0pt'>responsible</span><span

style='font-size:10.0pt'> for any use of the Certificate and any equipment and

software required to use the Certificate.  </span><span style='font-size:10.0pt'>You

</span><span style='font-size:10.0pt;color:black'>shall use Certificates in

compliance with applicable laws and policies (including the CPS, which is

incorporated by reference within the Certificate). You shall promptly notify

DigiCert if You become aware of a breach of this Agreement. You are responsible

for obtaining and </span><span style='font-size:10.0pt'>maintaining any additional

authorizations or licenses necessary to use the Certificate for a specific or

particular purpose.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>1.4.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Restrictions</span></u><span

style='font-size:10.0pt'>.  You may only use a Host Certificate on the servers

accessible at the domain names listed in the issued Certificate.  You shall not

use your Private Key or Certificate to:</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:1.0in;text-indent:-.5in'><span style='font-size:10.0pt'>(i)<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span style='font-size:10.0pt'>operate nuclear power facilities,

air traffic control systems, aircraft navigation systems, weapons control

systems, or any other system requiring failsafe operation whose failure could

lead to injury, death or environmental damage; </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:1.0in;text-indent:-.5in'><span style='font-size:10.0pt'>(ii)<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span style='font-size:10.0pt'>send, </span><span

style='font-size:10.0pt'>upload, distribute or deliver </span><span

style='font-size:10.0pt'>unsolicited bulk correspondence, malicious code, code

that is downloaded without a user’s consent, or </span><span style='font-size:

10.0pt'>any files or software that may damage the operation of another’s

computer;</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:1.0in;text-indent:-.5in'><span style='font-size:10.0pt'>(iii)<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span style='font-size:10.0pt'>make misrepresentations about your

Certificate, yourself, or  your affiliation with any entity, or </span><span

style='font-size:10.0pt'>breach the confidence of a third party</span><span

style='font-size:10.0pt'>; </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:1.0in;text-indent:-.5in'><span style='font-size:10.0pt'>(iv)<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span style='font-size:10.0pt'>modify, sub license,

reverse-engineer, or create a derivative work of any Certificate or Private Key

or take any action to </span><span style='font-size:10.0pt'>attack or attempt

to disrupt the trustworthy operation of any Public Key Infrastructure in which

your Key Pair or Certificate participates; or</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:1.0in;text-indent:-.5in'><span style='font-size:10.0pt'>(v)<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span style='font-size:10.0pt'>act in a manner that could

reasonably result in a civil or criminal action being taken against You, your sponsor,

or DigiCert. </span></p>



<p style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:

.5in;text-indent:-.5in'><b><span style='font-size:10.0pt;font-family:"Cambria","serif"'>2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></b><b><span style='font-size:10.0pt;font-family:"Cambria","serif"'>CERTIFICATE

GENERATION AND PROTECTION</span></b></p>



<p style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:

.75in;text-indent:-.5in'><span style='font-size:10.0pt;font-family:"Cambria","serif"'>2.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt;font-family:"Cambria","serif"'>Verification</span></u><span

style='font-size:10.0pt;font-family:"Cambria","serif"'>.  An agent of OSG or

DigiCert will verify your Certificate application in accordance with the

applicable policy document (such as DigiCert’s Certification Practices

Statement) and industry guidelines. Verification is subject to DigiCert’s approval,

and DigiCert may refuse to issue a Certificate for any reason.  DigiCert is not

required to provide a reason for the refusal.  DigiCert may deliver an issued

Certificate in any manner it sees fit.</span></p>



<p style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:

.75in;text-indent:-.5in'><span style='font-size:10.0pt;font-family:"Cambria","serif"'>2.2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt;font-family:"Cambria","serif"'>Certificate

License</span></u><span style='font-size:10.0pt;font-family:"Cambria","serif"'>. 

Effective immediately after issuance and continuing until the Certificate either

expires or is revoked, DigiCert grants You a revocable, non-exclusive,

non-transferable license to use the Certificate, for the benefit of the subject

identified therein, and in connection with properly licensed and operating cryptographic

software, to (i) create Digital Signatures, (ii) encrypt and decrypt

communications, and/or (iii) perform other Public Key or Private Key operations. 

You are solely responsible for any failure to renew or replace a Certificate

prior to its expiration.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>2.3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><strong><u><span style='font-size:10.0pt;font-family:"Cambria","serif";

font-weight:normal'>Certificate Revocation and Termination</span></u></strong><strong><span

style='font-size:10.0pt;font-family:"Cambria","serif";font-weight:normal'>.  </span></strong><span

style='font-size:10.0pt'>DigiCert may revoke a Certificate, without notice, for

the reasons stated in the CPS, including if DigiCert believes revocation is

necessary to protect its reputation or business.  You shall promptly cease

using the Certificate and corresponding Private Key (except to lawfully decrypt

previously encrypted communications) upon: (i) revocation of the Certificate,

(ii) termination of this Agreement, or (iii) the date when the allowed usage

period for the corresponding Private Key expires. </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>2.4.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Obligation on Revocation or

Expiration</span></u><b><span style='font-size:10.0pt'>.</span></b><span

style='font-size:10.0pt'>  Applicant shall promptly cease using the Certificate

and corresponding Private Key upon the earlier of (i) revocation of the

Certificate or (ii) the date when the allowed usage period for the corresponding

Private Key expires.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in;page-break-after:avoid'><strong><span

style='font-size:10.0pt;font-family:"Cambria","serif"'>3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></strong><strong><span style='font-size:10.0pt;font-family:"Cambria","serif"'>INTELLECTUAL

PROPERTY AND INFORMATION</span></strong></p>



<p style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:

.75in;text-indent:-.5in'><span style='font-size:10.0pt;font-family:"Cambria","serif"'>3.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt;font-family:"Cambria","serif"'>Ownership</span></u><span

style='font-size:10.0pt;font-family:"Cambria","serif"'>.  DigiCert retains sole

ownership in (i) any Certificates it issues, (ii) all DigiCert trademarks,

copyrights, and other intellectual property rights, (iii) the information

collected by DigiCert, and (iv) any derivative works of the Certificates,

regardless of who suggested or requested the derivative work.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in;text-autospace:none'><span

style='font-size:10.0pt'>3.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Publication of Certificate</span></u><span

style='font-size:10.0pt'>.  You consent to (i) DigiCert’s public disclosure of

information embedded in an issued Certificate, and (ii) DigiCert’s transfer of your

personal information to DigiCert’s servers, which are located inside the United

States.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in;text-autospace:none'><span

style='font-size:10.0pt'>3.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Storage and Use of Information</span></u><span

style='font-size:10.0pt'>.  DigiCert shall follow the privacy policy posted on

its website when receiving and using information from You.  DigiCert may modify

the privacy policy in its sole discretion.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in;page-break-after:avoid'><b><span

style='font-size:10.0pt'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></b><strong><span style='font-size:10.0pt;font-family:"Cambria","serif"'>TERM

AND TERMINATION</span></strong></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>4.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Term</span></u><span

style='font-size:10.0pt'>.  This Agreement is effective on acceptance and lasts

until the earlier of (i) the expiration date of the corresponding Certificate or

(ii) the termination of this Agreement by a party as allowed herein.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>4.2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Termination</span></u><span

style='font-size:10.0pt'>.  You may terminate this Agreement for convenience by

providing 30 days prior notice to DigiCert.  DigiCert may immediately terminate

this Agreement if (i) You materially breach this Agreement, (ii) DigiCert

cannot satisfactorily verify your information, (iii) the OSG Agreement terminates,

or (iv) if industry standards or regulations change in a way that affects the

validity or security of the Certificates.  Upon termination, DigiCert may

revoke any Certificates issued under this Agreement.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>4.3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Survival</span></u><span

style='font-size:10.0pt'>.  All provisions of this Agreement related to proprietary

rights (Section 3.1), disclaimer of warranties and limitations on liability (Section

5), and the miscellaneous provisions (Section 6) survive the termination of the

Agreement and continue in full force and effect.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in'><b><span style='font-size:10.0pt'>5.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></b><strong><span style='font-size:10.0pt;font-family:"Cambria","serif"'>DISCLAIMERS

AND LIMITATIONS ON LIABILITY</span></strong></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Remedy</span></u><span

style='font-size:10.0pt'>.  Your sole remedy for a defect in a Certificate is

to have DigiCert use reasonable efforts to correct the defect.  DigiCert is not

obligated to correct a defect if (i) the Certificate was misused, damaged, or

modified, (ii) You did not promptly report the defect to DigiCert, or (iii) You

breached a provision of this Agreement. </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Warranty Disclaimers</span></u><span

style='font-size:10.0pt'>.  ALL DIGICERT PRODUCTS AND SERVICES, INCLUDING CERTIFICATES,

ARE PROVIDED &quot;AS IS&quot; AND &quot;AS AVAILABLE".  TO THE MAXIMUM EXTENT

PERMITTED BY LAW, DIGICERT DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,

INCLUDING ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,

AND NON-INFRINGEMENT.  DIGICERT DOES NOT WARRANT THAT ANY PRODUCTS OR SERVICES WILL

MEET YOUR EXPECTATIONS OR THAT ACCESS TO PRODUCTS OR SERVICES WILL BE TIMELY OR

ERROR-FREE.  DigiCert does not guarantee the availability of any products or

services and may </span><span style='font-size:10.0pt'>modify or discontinue a certificate-related

offering at any time.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Limitation on Liability</span></u><span

style='font-size:10.0pt'>.  EXCEPT AS PROVIDED UNDER SECTION 5.5, YOU WAIVE ALL

LIABILITY OF DIGICERT AND ITS AFFILIATES, AND EACH OF THEIR OFFICERS,

DIRECTORS, PARTNERS, EMPLOYEES, CONTRACTORS, AND AGENTS, RESULTING FROM OR

CONNECTED TO THIS AGREEMENT.   YOU ALSO WAIVE ALL LIABILITY FOR ANY DIRECT, SPECIAL,

INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES RELATED TO THIS AGREEMENT OR A

CERTIFICATE, INCLUDING ALL DAMAGES FOR LOST PROFITS, REVENUE, USE, OR DATA. 

THIS WAIVER APPLIES EVEN IF DIGICERT IS AWARE OF THE POSSIBILITY OF SUCH

DAMAGES.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.4.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Liability for Breach</span></u><span

style='font-size:10.0pt'>.  You are liable for any claims (including damages,

costs, and defense expenses) that are brought by third parties against

DigiCert, its agents, or assigns that are based by your intentional or grossly

negligent breach of this Agreement.  This includes claims related to the

unauthorized use of your Private Key, unless prior to the unauthorized use You

notified DigiCert of the compromise and requested revocation of the Certificate</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.5.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Applicability</span></u><span

style='font-size:10.0pt'>.  The limitations and waivers in this section 5 apply

only to the maximum extent permitted by law and apply regardless of (i) the

reason for or nature of the liability, including tort claims, (ii) the number

of any claims, (iii) the extent or nature of the damages, or (iv) whether any

other provisions of this Agreement have been breached or proven ineffective.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.6.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Force Majeure and Internet

Frailties</span></u><span style='font-size:10.0pt'>.  Neither party is liable

for any failure or delay in performing its obligations under this Agreement to

the extent that the circumstances causing such failure or delay are beyond a

party’s reasonably control.  You acknowledge that the Certificates are subject

to the operation and telecommunication infrastructures of the Internet and the

operation of your Internet connection services, all of which are beyond

DigiCert’s control.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>5.7.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Limitation on Actions</span></u><span

style='font-size:10.0pt'>.  Each party shall commence any claim and action

arising from this Agreement within one year from the occurrence of events

giving rise to a cause of action.  Each party waives its right to any claim

that is commenced more than one year from the first date on which the cause of

action accrued.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in'><strong><span style='font-size:10.0pt;

font-family:"Cambria","serif";text-transform:uppercase'>6.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></strong><strong><span style='font-size:10.0pt;font-family:"Cambria","serif";

text-transform:uppercase'>Miscellaneous</span></strong></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Conflict Resolution</span></u><span

style='font-size:10.0pt'>.  All provisions for governing law, jurisdiction, and

venue for any arbitration, mediation, or other conflict dispute resolution

process shall be as specified in the Sponsor Agreement and such provisions apply

equally to this Agreement.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Independent Contractors</span></u><span

style='font-size:10.0pt'>.  Neither party has the power to bind or obligate the

other.  Each party is responsible for its own expenses.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Entire Agreement</span></u><span

style='font-size:10.0pt'>.  </span><span style='font-size:10.0pt'>This

Agreement, along with all documents referred to herein, constitutes the entire

agreement between the parties with respect to Subscriber’s receipt and use of a

requested Certificate, superseding all other agreements that may exist.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.4.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Amendments</span></u><span

style='font-size:10.0pt'>.  DigiCert may amend any of its website and any

documents listed thereon, including its CPS and privacy policy, provided that

such amendments are adopted and implemented in accordance with the Sponsor

Agreement and standard industry practices.  Your use of a Certificate after the

date an amendment is posted to the website constitutes your acceptance of the

amendment.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.5.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Waiver</span></u><span

style='font-size:10.0pt'>.  A party’s failure to enforce or delay in enforcing

a provision of this Agreement does not waive (i) the party’s right to enforce

the same provision later or (ii) the party’s right to enforce any other

provision of the Agreement.  A waiver is only effective if in writing and

signed by the party against whom the waiver is claimed.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.6.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Notices</span></u><span

style='font-size:10.0pt;text-transform:uppercase'>.  </span><span

style='font-size:10.0pt'> You shall send all notices in English by first class

mail with return receipt request to DigiCert, Inc., 355 South 520 West, Suite

200, Lindon, UT 84042; DigiCert shall send notices to You using the email

address provided during the Certificate application process.  Notices to

DigiCert are effective when received; notices to You are effective when sent.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.7.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Assignment</span></u><span

style='font-size:10.0pt'>.  You may not assign your rights or obligations under

this Agreement without the prior written consent of DigiCert.  Any transfer

without consent is void and a material breach of this Agreement.  DigiCert may

assign its rights and obligations without your consent.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.8.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Severability</span></u><span

style='font-size:10.0pt'>.  The invalidity or unenforceability of a provision

under this Agreement, as determined by an arbitrator, court, or administrative

body of competent jurisdiction, does not affect the validity or enforceability

of the remainder of this Agreement.  The parties shall substitute any invalid

or unenforceable provision with a valid or enforceable provision that achieves

the same economic, legal, and commercial objectives as the invalid or

unenforceable provision.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.9.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Rights of Third Parties</span></u><b><span

style='font-size:10.0pt'>. </span></b><a name="OLE_LINK2"></a><a

name="OLE_LINK1"><span style='font-size:10.0pt'>N</span></a><span

style='font-size:10.0pt'>o third party has any rights or remedies under this

Agreement.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;

margin-left:.75in;text-indent:-.5in'><span style='font-size:10.0pt'>6.10.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span style='font-size:10.0pt'>Interpretation</span></u><b><span

style='font-size:10.0pt'>.</span></b><span style='font-size:10.0pt'>  The

definitive version of this Agreement is written in English.  If this Agreement

is translated into another language and there is a conflict between the English

version and the translated version, the English language version controls.  Section

headings are for reference and convenience only and are not part of the interpretation

of this Agreement.  </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.5in;text-indent:-.5in'><strong><span style='font-size:10.0pt;

font-family:"Cambria","serif"'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span></strong><strong><span style='font-size:10.0pt;font-family:"Cambria","serif"'>GLOSSARY

OF TERMS</span></strong></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><span style='font-size:10.0pt'>"<b>Certificate"</b> means a

digitally signed electronic data file issued by DigiCert to a person, group, or

role in order to confirm the identity of that entity as possessing the Private

Key that corresponds to the Public Key contained in the certificate.    </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt'>"CPS"</span></b><span

style='font-size:10.0pt'> refers to DigiCert’s written statements of the

policies and procedures used to operate its Public Key infrastructure. 

DigiCert’s CPS documents are available at <a

href="http://www.digicert.com/ssl-cps-repository.htm">http://www.digicert.com/ssl-cps-repository.htm</a>.

</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt'>"Compromise"</span></b><span

style='font-size:10.0pt'> means evidence that (i) the hardware device used to

store a Private Key is missing, (ii) the Private Key was publicly disclosed, or

(iii) that a third party is using a Private Key without authorization.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt'>"Digital Signature"</span></b><span

style='font-size:10.0pt'> means an encrypted electronic data file which is

attached to or logically associated with other electronic data and which (i)

identifies and is uniquely linked to the signatory of the electronic data, (ii)

is created using means that the signatory can maintain under its sole control,

and (iii) is linked in a way so as to make any subsequent changes that have

been made to the electronic data detectable.<b> </b></span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt;color:black'>"Guidelines on

Private Key Protection</span></b><span style='font-size:10.0pt;color:black'>" refers

to the guidelines on private key generation and protection published by the PMA

in which your sponsor participates.</span><b><span style='font-size:10.0pt'> </span></b></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt'>"Key Pair"</span></b><span

style='font-size:10.0pt'> means two mathematically related cryptographic keys—a

Private Key and a Public Key.</span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><b><span style='font-size:10.0pt'>"Private Key"</span></b><span

style='font-size:10.0pt'> means the key that is kept secret by You that is used

to create Digital Signatures and/or decrypt electronic records or files that

were encrypted with the corresponding Public Key.   </span></p>



<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:12.0pt;

margin-left:.25in'><span style='font-size:10.0pt'>"<b>Public Key"</b> means your

publically disclosed key that is contained in your Certificate and corresponds

to the secret Private Key that You use.  The Public Key is used by Relying

Parties to verify Digital Signatures created by the Private Key and/or to encrypt

messages so that they can only be decrypted by You using the corresponding

Private Key.</span></p>



<p class=MsoNormal style='margin-bottom:12.0pt'><b><span style='font-size:10.0pt'>ACCEPTANCE</span></b></p>



<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:10.0pt'>BY

CHECKING "I AGREE", YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS

AGREEMENT AND THAT YOU AGREE TO COMPLY WITH ITS TERMS.  DO NOT CHECK "I AGREE" AND

DO NOT PROCEED IF YOU DO NOT ACCEPT THIS AGREEMENT.</span></p>



<span style='font-size:10.0pt;font-family:"Cambria","serif"'><br clear=all

style='page-break-before:always'>

</span>



<p class=MsoNormal align=center style='margin-bottom:12.0pt;text-align:center'><b><span

style='font-size:10.0pt'>SCHEDULE 1</span></b></p>



<p class=MsoNormal align=center style='margin-bottom:12.0pt;text-align:center'><b><span

style='font-size:10.0pt'>PRIVATE KEY PROTECTION AND USE</span></b></p>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

.5in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>1.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span lang=EN-GB style='font-size:10.0pt;font-style:normal'>Private

Key Generation</span></u><span lang=EN-GB style='font-size:10.0pt;font-weight:

normal;font-style:normal'>.  You shall generate your Key Pair using one of the

following methods:</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.0in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>a.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Inside a secure hardware token;</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.0in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>b.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Using trustworthy cryptographic software on a local computer

system where You are the sole user and administrator;</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.0in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>c.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>On a computer system administered by your sponsor or a third

party if: </span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The key material is generated using trustworthy

cryptographic software,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Access is limited to designated individuals who are subject

to and aware of applicable privacy rules and a professional code of conduct,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>iii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The private key and pass phrase are not sent in clear text

over a network,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>iv.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The encrypted private key file is not sent over the network

unprotected, </span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>v.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The system is located in a secure environment, where access

is controlled and limited to only authorized personnel, and</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.5in;text-indent:-1.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'><span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>vi.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>A system does not persistently keep pass phrases or plain

text private keys for longer than 24 hours; or</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

.5in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>2.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span lang=EN-GB style='font-size:10.0pt;font-style:normal'>Private

Key Storage</span></u><span lang=EN-GB style='font-size:10.0pt;font-weight:

normal;font-style:normal'>.  You shall store your Private Key using one of the

following methods:</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

1.0in;text-indent:-.25in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>a.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Protected by a pass phrase on a hardware token from which

the Private Key cannot be extracted;</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.0in;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>In a persistently encrypted form on a computer system where

You are the sole user and administrator; or</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.0in;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>On a computer system administered by your sponsor or a third

party if:</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The Private Key is stored in a persistently encrypted form

and protected by a pass phrase,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Data needed to decrypt or use the private key is present

only as a result of your action and only for as long as You are using the

system,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>iii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>Administrative access is limited to designated individuals

who are subject to and aware of applicable privacy rules and a professional

code of conduct,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>iv.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The systems are located in a secure environment, where

access is controlled and limited to only authorized personnel;</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>v.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The private key and pass phrase are not sent in clear text

over a network,</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>vi.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The encrypted private key file is not sent over the network

unprotected, and</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:0in;margin-left:

1.5in;margin-bottom:.0001pt;text-align:justify;text-indent:-1.5in;page-break-after:

auto'><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:

normal'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span>vii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>The system does not persistently keep pass phrases or plain

text private keys for longer than 24 hours.</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

.5in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>3.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span lang=EN-GB style='font-size:10.0pt;font-style:normal'>Pass

Phrases</span></u><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>.  You shall use pass phrases that are at least 12

characters long and follow the industry’s current best practices.</span></h2>



<h2 style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:

.5in;text-indent:-.5in;line-height:11.0pt;page-break-after:auto'><span

lang=EN-GB style='font-size:10.0pt;font-weight:normal;font-style:normal'>4.<span

style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</span></span><u><span lang=EN-GB style='font-size:10.0pt;font-style:normal'>Third

Parties</span></u><span lang=EN-GB style='font-size:10.0pt;font-weight:normal;

font-style:normal'>.  If a third party is involved in the generation of storage

of a Private Key, then the third party must have a defined data privacy and

security policy.</span></h2>


</div>

</div>

