.divrep_processing
{
	color: gray;
	text-decoration: none;
	cursor:progress;
}
input.sample, textarea.sample
{
color: #ddd;
}

a img
{
border: none;
vertical-align: middle;
}

table.contact_table
{
width: 100%;
}
table.auth_matrix
{
width: 100%;
border-collapse: collapse;
}

table.contact_table th
{
text-align: left;
width: 90px;
padding-top: 5px;
padding-bottom: 5px;
}
table.auth_matrix th
{
text-align: left;
padding-bottom: 3px;
padding-right: 15px;
}
table.auth_matrix td
{
padding-right: 10px;
}
table.auth_matrix tr.checklist
{
border-bottom: 1px solid #ddd;
}
table.auth_matrix tr.checklist input[type=checkbox]
{
margin-top: 4px;
}
table.record_table
{
padding-bottom: 5px;
width: 100%;
border-collapse: collapse;
line-height: 23px;
}
table.record_table td.record_data
{
border-bottom: 1px solid #ddd;
padding-left: 5px;
padding-right: 5px;
}
table.record_table th
{
text-align: left;
width: 220px;
border-bottom: 1px solid #ddd;
padding-left: 5px;
}
tr.header
{
background-color: gray;
color: white;
padding-left: 10px;
}

table.inner_table
{
margin-top: 5px;
margin-bottom: 5px;
background-color: #eee;
border-collapse: collapse;
width: 100%;
}
table.inner_table th, table.inner_table tr.header td
{
padding-left: 10px;
width: 40%;
}
table.fqan_table
{
width: 100%;
background-color: white;
border-collapse: collapse;
}
table.fqan_table th, table.fqan_table tr.header td
{
padding-left: 10px;
}
table.fqan_table td
{
padding-left: 10px;
font-size: 8pt;
font-family: Courier New;
}

table.log_table
{
margin-top: 5px;
margin-bottom: 5px;
border-collapse: collapse;
width: 100%;	
text-align: left;
}
table.log_table th
{
width: 200px;
}
table.log_table tr.top
{
background-color: #ccc;
}
table.log_table tr
{
border-bottom: 1px solid #ddd;
}
table.log_table tr.top th
{
width: inherit;
}
table.log_table th, table.log_table td
{
padding: 3px;
}

.resource_alias
{
padding-bottom: 3px;
}

.form span
{
font-weight: bold;
}
.form .form_element
{
margin-bottom: 10px;
}
.service_editor, .downtime_editor, .vo_report_name_editor, .metric_service_editor, .vo_report_name_fqan, .owner_editor
{
	background-color: #eee;
	margin-bottom: 5px;
	padding: 10px;
	padding-left: 20px;
	    border-top: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
}
.vo_report_name_fqan
{
	background-color: #fff;
	border: 1px solid #ccc;
}

div.contact
{
background-color: #ddd;
border: 1px solid #aaa;
padding: 2px;
margin-right: 4px;
font-weight: bold;
}
div.contact img
{
position: relative;
top: -1px;
}


.contact_editor
{
padding: 2px;
line-height: 24px;
}
.contact_editor input.autocomplete
{
padding: 0px;
margin: 0px;
}

.contact_editor .ac_input
{
width: 100px;
border: 0px;
}

.form textarea
{
width: 400px;
height: 80px;
}

p.elementerror
{
background-color: red;
color: white;
	
background-image:url(../images/error.png);
background-position: 5px 5px;
background-repeat:no-repeat;
margin: 2px;
padding: 5px;
padding-left:25px;
}

.round, h2
{
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}


div.hidden
{
display: none;
}
div.inline
{
display: inline;
}
div.selected
{
background-color: #ccc;
}
.right
{
float:right;
text-align:right;
}
.indent
{
margin-left: 16px;
}
.gray
{
background-color: #ccc;
}
div.contact_rank
{
background-position: 0px 2px;
background-repeat:no-repeat;
padding-left:20px;
height: 20px;
}
div.contact_Primary
{
background-image:url(../images/star_red.png);
}
div.contact_Secondary
{
background-image:url(../images/star_blue.png);
}
div.contact_Tertiary
{
background-image:url(../images/star_green.png);
}
.oim_hierarchy
{
height: 300px;
width: 400px;
overflow: auto;
border: 1px solid #ccc;
padding: 5px;
margin-right: 2px;
background-color: white;
}
div[onclick]
{
cursor:pointer;
}
img.avatar
{
margin: 2px;
max-width: 100px;
max-height: 100px;
}
img.avatar_preview
{
padding-top: 4px;
}
a[target=_blank]
{
padding-left:15px;
background:transparent url(../images/external_link_icon.gif) no-repeat 0 -1px;
}
a.mailto
{
padding-left:20px;
background:transparent url(../images/email.png) no-repeat 0px 0px;
}
div.listbox
{
background-color: #eee;
height:300px;
overflow:auto;
margin: 5px;
padding: 5px;
}

div.downtime
{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee;
    border-top: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
    padding: 10px;

}

