table.record_table
{
	padding-bottom: 5px;
	margin-bottom: 5px;
}
table.record_table th
{
	text-align: left;
	width: 200px;
}

form input[type='text']
{
	width: 300px;
}

form span
{
	font-weight: bold;
}
form div
{
	margin-left: 20px;
}

textarea
{
	width: 400px;
	height: 100px;
}