<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>oim</display-name>

	<context-param>
		<param-name>debug</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<description>
		</description>
		<display-name>
		MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DivexServlet</display-name>
		<servlet-name>DivexServlet</servlet-name>
		<servlet-class>
		com.webif.divex.DivexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ErrorServlet</display-name>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ErrorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		VOServlet</display-name>
		<servlet-name>VOServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.VOServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		VOEditServlet</display-name>
		<servlet-name>VOEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.VOEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceEditServlet</display-name>
		<servlet-name>ResourceEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OsgGridTypeServlet</display-name>
		<servlet-name>OsgGridTypeServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.OsgGridTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OsgGridTypeEditServlet</display-name>
		<servlet-name>OsgGridTypeEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.OsgGridTypeEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CPUInfoServlet</display-name>
		<servlet-name>CPUInfoServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.CPUInfoServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>
		CPUInfoServlet</display-name>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.NotificationServlet</servlet-class>
	</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			AdminServlet</display-name>
			<servlet-name>AdminServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.AdminServlet</servlet-class>
		</servlet>
	<servlet>
			<description>
			</description>
			<display-name>
			AuthorizationMatrixServlet</display-name>
			<servlet-name>AuthorizationMatrixServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.AuthorizationMatrixServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DivexServlet</servlet-name>
		<url-pattern>/divex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VOServlet</servlet-name>
		<url-pattern>/vo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VOEditServlet</servlet-name>
		<url-pattern>/voedit</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ResourceEditServlet</servlet-name>
		<url-pattern>/resourceedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsgGridTypeServlet</servlet-name>
		<url-pattern>/osg_grid_type</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsgGridTypeEditServlet</servlet-name>
		<url-pattern>/osg_grid_type_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CPUInfoServlet</servlet-name>
		<url-pattern>/cpuinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/notification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AuthorizationMatrixServlet</servlet-name>
		<url-pattern>/authmatrix</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
     <error-code>404</error-code>
     <location>/error</location>
   </error-page>
   
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
    	<location>/error</location>
	</error-page>

</web-app>
