<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>oim</display-name>

	<context-param>
		<param-name>someparam</param-name>
		<param-value>somevalu</param-value>
	</context-param>
	
	<servlet>
		<description>
		</description>
		<display-name>
		MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DivexServlet</display-name>
		<servlet-name>DivexServlet</servlet-name>
		<servlet-class>
		com.webif.divex.DivexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ErrorServlet</display-name>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ErrorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		404Servlet</display-name>
		<servlet-name>Error404Servlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.Error404Servlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		VOServlet</display-name>
		<servlet-name>VOServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.VOServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		VOEditServlet</display-name>
		<servlet-name>VOEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.VOEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SiteServlet</display-name>
		<servlet-name>SiteServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.SiteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SiteEditServlet</display-name>
		<servlet-name>SiteEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.SiteEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FacilityServlet</display-name>
		<servlet-name>FacilityServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.FacilityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FacilityEditServlet</display-name>
		<servlet-name>FacilityEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.FacilityEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceEditServlet</display-name>
		<servlet-name>ResourceEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceEditServlet</servlet-class>
	</servlet>
	

	<servlet>
		<description>
		</description>
		<display-name>
		ResourceDowntimeServlet</display-name>
		<servlet-name>ResourceDowntimeServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceDowntimeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceDowntimeEditServlet</display-name>
		<servlet-name>ResourceDowntimeEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceDowntimeEditServlet</servlet-class>
	</servlet>	

	
	<servlet>
		<description>
		</description>
		<display-name>
		SCServlet</display-name>
		<servlet-name>SCServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.SCServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SCEditServlet</display-name>
		<servlet-name>SCEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.SCEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OsgGridTypeServlet</display-name>
		<servlet-name>OsgGridTypeServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.OsgGridTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OsgGridTypeEditServlet</display-name>
		<servlet-name>OsgGridTypeEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.OsgGridTypeEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CpuInfoServlet</display-name>
		<servlet-name>CpuInfoServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.CPUInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CpuInfoEditServlet</display-name>
		<servlet-name>CpuInfoEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.CpuInfoEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CPUInfoServlet</display-name>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.NotificationServlet</servlet-class>
	</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			AdminServlet</display-name>
			<servlet-name>AdminServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.AdminServlet</servlet-class>
		</servlet>
	<servlet>
			<description>
			</description>
			<display-name>
			AuthorizationMatrixServlet</display-name>
			<servlet-name>AuthorizationMatrixServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.AuthorizationMatrixServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NotificationEditServlet</display-name>
		<servlet-name>NotificationEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.NotificationEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ContactServlet</display-name>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ContactServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>
		ContactEditServlet</display-name>
		<servlet-name>ContactEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ContactEditServlet</servlet-class>
	</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			ProfileEditServlet</display-name>
			<servlet-name>ProfileEditServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.ProfileEditServlet</servlet-class>
		</servlet>
		
		<servlet>
			<description>
			</description>
			<display-name>
			UserEditServlet</display-name>
			<servlet-name>UserEditServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.UserEditServlet</servlet-class>
		</servlet>
		
		<servlet>
			<description>
			</description>
			<display-name>
			UserServlet</display-name>
			<servlet-name>UserServlet</servlet-name>
			<servlet-class>
			edu.iu.grid.oim.servlet.UserServlet</servlet-class>
		</servlet>
		
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceGroupServlet</display-name>
		<servlet-name>ResourceGroupServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceGroupServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		ResourceGroupEditServlet</display-name>
		<servlet-name>ResourceGroupEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ResourceGroupEditServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		MetricServlet</display-name>
		<servlet-name>MetricServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.MetricServlet</servlet-class>
	</servlet>	
	
	<servlet>
		<description>
		</description>
		<display-name>
		MetricEditServlet</display-name>
		<servlet-name>MetricEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.MetricEditServlet</servlet-class>
	</servlet>	
	
	<servlet>
		<description>
		</description>
		<display-name>
		ServiceServlet</display-name>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ServiceServlet</servlet-class>
	</servlet>	
	
	<servlet>
		<description>
		</description>
		<display-name>
		ServiceEditServlet</display-name>
		<servlet-name>ServiceEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ServiceEditServlet</servlet-class>
	</servlet>	
	
	
	<servlet>
		<description>
		</description>
		<display-name>
		ServiceGroupServlet</display-name>
		<servlet-name>ServiceGroupServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ServiceGroupServlet</servlet-class>
	</servlet>	
	
	<servlet>
		<description>
		</description>
		<display-name>
		ServiceGroupEditServlet</display-name>
		<servlet-name>ServiceGroupEditServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.ServiceGroupEditServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>
		RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.RegisterServlet</servlet-class>
	</servlet>			
	
	<servlet>
		<description>
		</description>
		<display-name>
		LogServlet</display-name>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.LogServlet</servlet-class>
	</servlet>	
	<servlet>
		<description>
		</description>
		<display-name>
		HelpServlet</display-name>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>
		edu.iu.grid.oim.servlet.HelpServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DivexServlet</servlet-name>
		<url-pattern>/divex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>VOServlet</servlet-name>
		<url-pattern>/vo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacilityServlet</servlet-name>
		<url-pattern>/facility</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteServlet</servlet-name>
		<url-pattern>/site</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VOEditServlet</servlet-name>
		<url-pattern>/voedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacilityEditServlet</servlet-name>
		<url-pattern>/facilityedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteEditServlet</servlet-name>
		<url-pattern>/siteedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceEditServlet</servlet-name>
		<url-pattern>/resourceedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ResourceDowntimeServlet</servlet-name>
		<url-pattern>/resourcedowntime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceDowntimeEditServlet</servlet-name>
		<url-pattern>/resourcedowntimeedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SCServlet</servlet-name>
		<url-pattern>/sc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SCEditServlet</servlet-name>
		<url-pattern>/scedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsgGridTypeServlet</servlet-name>
		<url-pattern>/osggridtype</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsgGridTypeEditServlet</servlet-name>
		<url-pattern>/osggridtypeedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CpuInfoServlet</servlet-name>
		<url-pattern>/cpuinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CpuInfoEditServlet</servlet-name>
		<url-pattern>/cpuinfoedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/notification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AuthorizationMatrixServlet</servlet-name>
		<url-pattern>/authmatrix</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
			<servlet-name>NotificationEditServlet</servlet-name>
			<url-pattern>/notificationedit</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ContactServlet</servlet-name>
			<url-pattern>/contact</url-pattern>
		</servlet-mapping>
	<servlet-mapping>
			<servlet-name>ContactEditServlet</servlet-name>
			<url-pattern>/contactedit</url-pattern>
		</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileEditServlet</servlet-name>
		<url-pattern>/profileedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserEditServlet</servlet-name>
		<url-pattern>/useredit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ResourceGroupEditServlet</servlet-name>
		<url-pattern>/resourcegroupedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ResourceGroupServlet</servlet-name>
		<url-pattern>/resourcegroup</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MetricServlet</servlet-name>
		<url-pattern>/metric</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MetricEditServlet</servlet-name>
		<url-pattern>/metricedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServiceEditServlet</servlet-name>
		<url-pattern>/serviceedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServiceGroupServlet</servlet-name>
		<url-pattern>/servicegroup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServiceGroupEditServlet</servlet-name>
		<url-pattern>/servicegroupedit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
		<servlet-name>Error404Servlet</servlet-name>
		<url-pattern>/404</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
   <error-page>
     <error-code>404</error-code>
     <location>/404</location>
   </error-page>
   
   <error-page>
     <error-code>500</error-code>
     <location>/error</location>
   </error-page>
   
	<error-page>
		<exception-type>UnhandledException</exception-type>
    	<location>/error</location>
	</error-page>
</web-app>
