<Config>
<!-- For Local Development -->
<ApplicationBase>http://localhost:8080/oim</ApplicationBase>
<ApplicationName>OSG Information Management System (OIM)</ApplicationName>
<StaticBase>http://localhost:8080/oim</StaticBase>
<SSLTruststorePath>C:/dev/java/InstallCert/jssecacerts</SSLTruststorePath>
<Footprints>
	<URI>https://tick.globalnoc.iu.edu/MRWebServices</URI>
	<URL>https://tick.globalnoc.iu.edu/MRcgi/MRWebServices.pl</URL>
	<Username>goc</Username>
	<Password>5be1499a577add53307142asdaq2WSagsASDGa</Password>
	<ProjectID>109</ProjectID>
</Footprints>
<DOECN>DOEGrids CA 1</DOECN>
<Debug>false</Debug>
<GMapAPIKey>ABQIAAAAaViYP1Cs7C4ER0zJ_sBRIRRu2NIac2hj277nZFXtw56NJteXUhTts0gjYSM0q73KHro_G_rWDJaPDw</GMapAPIKey>
</Config>